<div id="copyright">
<h1>Disclaimer</h1>
<p>All parts of the <a href="www.nohax.club">NoHax.club</a> Website are for Private use only. No files are Hosted on our Server, they are Indexed in a similar way to how Google works. The ISP and/or Administrator cannot be held responsible for the contents of any linked Sites or any link contained in a linked Site, or changes/updates to such Sites.
</p>
<h1>Content Removal</h1>
<p>It is however our policy to respond to VALID infringement notices and take appropriate actions under the copyright laws that we are in compliance with. <a href="www.nohax.club">NoHax.club</a> is in full compliance with the Digital Millennium Copyright Act (“DMCA”) and International Copyright Laws. We only comply with notices provided they take the following steps:
</p>
<ol>
    <li> Write an email and specify the page on <a href="www.nohax.club">NoHax.club</a> where you believe copyrighted material has been infringed upon.</li>
    <li>
        Provide us sufficient contact information so that we may contact you (name and email address is required).
    </li>
    <li>
        Provide us with evidence that you own the copyright to said.
    </li>
</ol>
</div>
    


<p>
We urge all Copyright Owners, if you find the content on this site, where they hold copyright, ask them to contact us.
<br>
If you want to send a DMCA takedown request please keep in mind these will take 2-4 working days to process.
<br>
Thank you for understanding.
</p>