<div class="row">
   <div class="col-md-6 col-md-offset-3 faqs">
       <h1> Frequently Asked Questions</h1>
       
        <h1>Report Bot</h1>
         <h2> Is Report Botting Work?</h2>
         <p>This is a free report bot for CS:GO and Steam Community which sends mass spam reports to the targeted player causing them to get up till 99.9% chance of getting banned. You may send 2 CS:GO and 2 Steam Community request every 12 hours, each consists of 11 reports from 571 different accounts from different location and yeah its work.</p>
        <h1>Cheats</h1>
       
       <h2>Q: Are your cheats undetected?</h2>
       <p>A: Yes unless otherwise stated all our cheats are undetected. We would never sell you a cheat we know is detected.</p>
       <h2>Q: What are my payment options?</h2>
       <p>A: Paypal and Csgo Keys/items</p>
       <h2>Q: Do you have a refund policy?</h2>
       <p> A: Currently we do not offer refunds however depending on circumstances exceptions may be possible.</p>
       <h2>Q: How do I download the Cheats?</h2>
       <p>currently we dont support ecommerce way, you need to trade or transfer money paypal in specified account to complete the purchase, after purchase within 15 minutes - you will get hacks on your email account specified</p>
       <h2>Q: Can I try a cheat before I pay?</h2>
       <p>A: Unfortunately due to the nature of the software we offer we have to keep our current customers safety in mind. Offering free trials makes it too easy for the game/cheat protection developers to get our software</p>
       <h2>Q: Can I share my cheats with someone else?</h2>
       <p>A: We do not allow or support sharing cheats between people. it may result in ban membership</p>
   <h2>Q: Can I run your software on more than one computer?</h2>
   <p>A: Please be aware that when you start the cheat loader it will be locked to your computer. It means you can only run our software on a single PC per user account.</p>
   <h2>Q: What operating systems do you support?</h2>
   <p>A: We currently support Windows 10, Windows 8.1 and Windows 7. However, with Windows 10 being a free upgrade we highly suggest you upload to Windows 10 for the best performance.</p>

   <h2>Q: I did not find an answer to my question in this FAQ guide?</h2>
   <p>A: Ask directly to admin <a href="https://steamcommunity.com/id/nohaxclub">NoHax</a></p>
</div>

</div>
